@import '../variables/colors.scss';

// override for styles from Swiper component
div .swiper-slide {
    height: auto;
}

.slider {
    background: linear-gradient($color-blue, $color-dark-gray);
    padding: 20px;
    border-radius: 4px;
    cursor: grab;
    max-width: 1000px;
}
