.slider {
    display: flex;
    align-items: center;
    height: 300px;
    overflow: hidden;

    &__slide {
        width: 500px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        
        &--inactive {
            display: none;
        }
    }

    &__navigation {
        all: unset;
        position: relative;
        top: 40%;

        &--next {
            right: 4%;
        }

        &--prev {
            left: 35%;
        }
    }

    &__description {

    }
}